<header>
    <nav>
      <section class="h-card">
        <a class="u-url u-uid" href="{{site.url}}" title="{{site.title}}">
          <img src="{{site.logo}}" alt="{{site.title}}" class="avatar u-photo" width="36" height="36">
        </a>
        <p hidden class="p-name">{{site.author.name}}</p>
        <p hidden class="p-note">Put a note here</p>
        <p hidden class="p-locality">Put locality here (City, State)</p>
      </section>
      <section id="header-title">
        <h1><a href="/" title="{{site.title}}">{{site.title}}</a></h1>
      </section>
      <section id="menu-items">
        <a href="/docs" title="Docs">Docs</a>
      </section>
    </nav>
  <hr>
</header>
