<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }}{% else %}{{site.title}}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="/favicon.svg">
    
    <!--IndieWeb-->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="webmention" href="/11ndieweb/webmention">
    <link rel="micropub" href="/11ndieweb/micropub">
    <!--Style-->
    {% include styles/style.html %}
  </head>

  <body>
    {% include partials/header.html %}
        {{ content }}
    {% include partials/footer.html %}
    </body>
</html>