<footer>
    <hr>
    <section class="contact-icons">
    <a rel="me" href="mailto:{{site.author.email}}" title="Email">{% include icons/email.svg %}</a>
    <a rel="me" href="https://github.com/{{site.GITHUB_USER}}" title="GitHub">{% include icons/github.svg %}</a>
    <a href="/feed.xml" title="RSS">{% include icons/rss.svg %}</a>
    </section>
  <p><small><em>This website supports <a href="https://webmention.net/" title="Webmentions">webmentions</a></em></small></p>
</footer>